body {
  font-family: 'Commissioner', sans-serif;
  margin: 0;
  font-size: 1.5rem;
  color: #1a1f26;
  line-height: 1.5;
}

h1 {
  font-family: 'WindSong', cursive;
  width: 60%;
  padding: 0 0 3rem 0;
}

h2 {
  font-family: 'Cormorant', serif;
  margin-top: 3rem;
  font-size: 3rem;
  text-align: center;
}

hr {
  color: #82b9c4;
  border-style: dotted none none none;
  width: 8%;
  border-width: .8rem;
}

.topcontainer:fullscreen {
  margin: 0;
}

.header-1 {
  letter-spacing: .3rem;
  font-size: 5rem;
  color: white;
  position: absolute;
  left: 10rem;
  top: 10rem;
}

.header-2 {
  font-weight: lighter;
  font-size: 3rem;
  letter-spacing: .1rem;
  color: white;
  position: absolute;
 left: 10rem;
 top: 18rem;
}

.sea {
  background-position: top;
  width: 100%;
  height:47rem;
  bottom: 0;
}

.bio-container {
  margin-left: 10%;
  padding: 5% 10%;
  width: 60%;
  text-align: justify;
}

.name-credentials {
  padding-top: 0;
  width: 60%
  font-size: 3rem;
  text-align: left;
}

.profile-pic {
  float: left;
  padding-right: 1rem;
}

/* Fix Centering (try justify-content: center;*/
.skills-container {
  margin-top: -3rem;
  padding: 5% 10%;
  margin-left: auto; 
  margin-right: auto;
  width: 60%;
}

.link {
  text-decoration: none;
  color: #060273;
}

.skills-header {
  text-align: center;
}

.SLP-img {
  width: 35%;
  float: left;
  padding-top: 2.5rem;
  padding-right: 3rem;
}

.slp-skills {
  display: block;
  text-align: justify;
}

.design-img{
  width: 35%;
  float: right;
  padding-top: 2.5rem;
  padding-left: 3rem;
}

.design-skills {
  text-align: justify;
  display: block;
}

.contact-me {
  margin-top: -3rem;
  margin-left: 10%;
  padding: 5% 10%;
  text-align: center;
  width: 60%;
}

.email-me {
  padding-bottom: 8%;
  padding: 0 10%;
}

.btn {
  background: #03738C;
  background-image: -webkit-linear-gradient(top, #03738C, #02347D);
  background-image: -moz-linear-gradient(top, #03738C, #02347D);
  background-image: -ms-linear-gradient(top, #03738C, #02347D);
  background-image: -o-linear-gradient(top, #03738C, #02347D);
  background-image: linear-gradient(to bottom, #03738C, #02347D);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 1.1rem;
  font-family: 'Cormorant', serif;
  color: white;
  font-size: 2rem;
  padding: .8rem 1.2rem .8rem 1.2rem;
  text-decoration: none;
  margin-top: 3rem;
  margin-left: 0;
  font-weight: heavy;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #03738C);
  background-image: -moz-linear-gradient(top, #3cb0fd, #03738C);
  background-image: -ms-linear-gradient(top, #3cb0fd, #03738C);
  background-image: -o-linear-gradient(top, #3cb0fd, #03738C);
  background-image: linear-gradient(to bottom, #3cb0fd, #03738C);
  text-decoration: none;
}

.bottom-container {
  margin: 0;
  background-color: #03738C;
  text-align: center;
  font-size: 1rem;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-link {
  text-decoration: none;
  color: white;
  padding: 5rem 5rem;
}

.footer-link:hover {
  color: #060273;
}
.email-me {
}

.copyright {
  color: #8C800A;
  font-size: 1rem;
}
